@font-face {
    font-family: "ff-good-web-pro";
    src: url("../fonts/ff-good-pro-bold.woff2") format("woff2");
    font-display: auto;
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "ff-good-web-pro";
	src: url("../fonts/ff-good-pro-bold-italic.woff2") format("woff2");
    font-display: auto;
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "ff-good-web-pro";
	src: url("../fonts/ff-good-pro-regular.woff2") format("woff2");
    font-display: auto;
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "ff-good-web-pro";
	src: url("../fonts/ff-good-pro-regular-italic.woff2") format("woff2");
    font-display: auto;
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "ff-good-web-pro-condensed";
    src: url("../fonts/ff-good-pro-condensed-bold.woff2") format("woff2");
    font-display: auto;
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "ff-good-web-pro-condensed";
    src: url("../fonts/ff-good-pro-condensed-bold-italic.woff2") format("woff2");
    font-display: auto;
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "ff-good-web-pro-condensed";
    src: url("../fonts/ff-good-pro-condensed-regular.woff2") format("woff2");
    font-display: auto;
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "ff-good-web-pro-condensed";
    src: url("../fonts/ff-good-pro-condensed-regular-italic.woff2") format("woff2");
    font-display: auto;
    font-style: italic;
    font-weight: 400;
}