:root{
    --arcane-light:#7b1216;
    --arcane-base:#8b0e16;
    --arcane-dark:#2e0000;
    --divine-light:#3e4093;
    --divine-base:#162b62;
    --divine-dark:#1c1b3a;
    --primal-light:#4f7440;
    --primal-base:#1e6a39;
    --primal-dark:#283120;
    --occult-light:#646464;
    --occult-base:#000000;
    --occult-dark:#1e1a1b;
    --focus-light:#a75e33;
    --focus-base:#98521e;
    --focus-dark:#55321c;
    --border-color:#d3ca8a;

    --table-header-color:#500000;
    --table-odd-background:#eae3c7;
}

.arcane {
    --light-color:var(--arcane-light);
    --base-color:var(--arcane-base);
    --dark-color:var(--arcane-dark);
}

.divine {
    --light-color:var(--divine-light);
    --base-color:var(--divine-base);
    --dark-color:var(--divine-dark);
}

.primal {
    --light-color:var(--primal-light);
    --base-color:var(--primal-base);
    --dark-color:var(--primal-dark);
}

.occult {
    --light-color:var(--occult-light);
    --base-color:var(--occult-base);
    --dark-color:var(--occult-dark);
}

.focus {
    --light-color:var(--focus-light);
    --base-color:var(--focus-base);
    --dark-color:var(--focus-dark);
}


.card {
    width: 63.5mm;
    height: 88.9mm;

    margin: 0.5mm;
    
    display: flex;
    background: linear-gradient(180deg, var(--light-color) 0%, var(--dark-color) 100%);
    align-content: center;
    border-radius: 0;
    border-width: 0;
    border-color: transparent;
}

.card .content {
    margin-top: 1.5mm;
    margin-left: 2.25mm;
    margin-right: 2.25mm;
    margin-bottom: 2mm;
    background-color: white;
    position: absolute;
    width: 59mm;
    height: 84.4mm;
    border-color: var(--border-color);
    border-radius: 3mm;
    border-width: 0.5mm;
    border-style: solid;
    padding: 1mm;
    overflow:hidden;
}

.card .header {
    background: var(--base-color);
    z-index: 1;

    margin: 0 auto;
    padding: 0.1mm 2mm 0.0mm 2mm;    
    align-self: flex-start;

    font-size: 0.8rem;
    font-family: 'ff-good-web-pro', sans-serif;
    font-weight: 700;
    color: white;

    border-radius: 0mm 0mm 1.5mm 1.5mm;
}

.card .secondary {
    z-index: 1;

    position: absolute;
    padding-bottom: 0;

    margin: 86.3mm 0 0 5mm; 
    align-self: flex-start;
    
    font-size: 0.8rem;
    font-family: 'ff-good-web-pro', sans-serif;
    font-weight: 400;
    color: white;
}

/* Traits */
.pf-trait {
    display: inline-block;
    font-family: 'ff-good-web-pro-condensed', sans-serif;
    font-size: 0.9rem;
    line-height: 1;
    text-transform: uppercase;
    background: #5d0000;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem;
    padding-top: 0.4rem;
    padding-bottom: 0.25rem;
    color: #fff;
    /* text-shadow: 0 0 0 #fff; */
    font-weight: bold;
    margin: 0 0 0.4mm 0;
    border: 2px solid #d8c384;
    min-width: 5rem;
    text-align: center;
    letter-spacing: 0.05rem;
}

.pf-trait-edge {
    padding: 0.4rem 0 0.25rem 0 !important;
    width: 3px;
    min-width: 0;
    overflow: hidden;
    vertical-align: top;
    background-color: #d8c384;
}

.pf-traits {
    line-height: 1;
    display: inline-block;
    background: #d8c384;
    margin: 0;
    /* padding: 0 0.125rem; */
}

.pf-trait-size {
    background: #3a7a58;
    min-width: auto;
}

.pf-trait-type {
    background: #004316;
    min-width: auto;
}

.pf-trait-align {
    background: #566193;
    min-width: auto;
}

.pf-trait-rare {
    background: #002564;
    min-width: auto;

}

.pf-trait-uncommon {
    background: #98503c;
    min-width: auto;
}

.pf-trait-unique {
    background: #54166d;
    min-width: auto;
}

/* Text */
.bg-pf {
    background-color: #f3f2ee;
}

.text-pf {
    line-height: 110%;
    text-align: justify;
    font-size: 1.1rem;
    font-family: 'ff-good-web-pro', sans-serif;
}

.text-pf ul {
    list-style-type: disc;
    padding-left: 3mm;
    padding-bottom: 0;
}

.text-pf ul li {
    padding: 0;
    margin: 0;
}

.text-pf ol {
    list-style-type: none;
    padding-left: 0rem;
}

.text-pf table th{
    color: white;
    background:var(--table-header-color);
    padding: 0.2mm;
}

.text-pf table p{
    display: table-cell;
    vertical-align: middle;
    padding: 0.8mm 0.2mm 0.2mm 0.2mm;
}

.text-pf table tbody tr:nth-child(odd) {
    background-color: var(--table-odd-background);
}

.hang {
    line-height: 140%;
    padding-left: 1em;
    margin-bottom: 0;
    text-indent: -1em;
}

.text-img {
    height: 1em;
    vertical-align: baseline;
    width: auto;
    transform: translateY(0.25em);
}

.heighten {
    margin-top: 0mm;
    margin-bottom: 2pt;
    padding-bottom: 0;
    padding-top: 0;
}