html {
    font-size: 2.05mm;
    height: -webkit-fill-available;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 400;
    background: transparent !important;

    min-height: 100vh;
    min-height: -webkit-fill-available;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'ff-good-web-pro-condensed';
    padding: 0;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 700;
}

h1 {
    font-size: 1.75rem;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 1.15rem;
}

h5 {
    font-size: 1.1rem;
}

h6 {
    font-size: 1.05rem;
}

.collection {
    display: flex;
    flex-wrap: wrap;
}

.printable-page {
    display: flex;
    flex-wrap: wrap;
    break-after: page;
    justify-content: center;
}

.printable {
    visibility: hidden;
    display: none;
}

.nav {
    font-size: 14pt;
}

.nav input {
    font-size: 14pt;
}

.nav optgroup {
    font-size: 14pt;
}

.nav button {
    font-size: 14pt;
}